<div id="<%= dom_id forniture %>">
  <p>
    <strong>Nombre:</strong>
    <%= forniture.nombre %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= forniture.tipo %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= forniture.material %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= forniture.cantidad %>
  </p>

</div>
