<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= user.dni %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= user.correo %>
  </p>

  <p>
    <strong>Domicilio:</strong>
    <%= user.domicilio %>
  </p>

  <p>
    <strong>Pass:</strong>
    <%= user.pass %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

</div>
