<%= form_with(model: detalle_compra) do |form| %>
  <% if detalle_compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(detalle_compra.errors.count, "error") %> prohibited this detalle_compra from being saved:</h2>

      <ul>
        <% detalle_compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :compra_id, style: "display: block" %>
    <%= form.text_field :compra_id %>
  </div>

  <div>
    <%= form.label :forniture_id, style: "display: block" %>
    <%= form.text_field :forniture_id %>
  </div>

  <div>
    <%= form.label :cantidad, style: "display: block" %>
    <%= form.number_field :cantidad %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
